$black: #363636;
$background: #dddddd;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$container-color: #ffffff;
$border-color: #eaeaea;

$container-width: 1440px;

$duration: 0.15s;

// Fonts
$main-font: 'Montserrat', Roboto, system-ui, Tahoma, sans-serif;
